body{
    background-image:url('pexels-photo-1261578.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Gloria Hallelujah', cursive;
}

audio{
    width: 100%;
    min-height: 1rem;
}

.yellow{
    background-color: rgb(247, 222, 85);
}

.btn{
    background-color:#ec5d97;
    font-size: 1.3rem;
}

.img-res{
    width:100%;
    height: auto;
}

.center-place{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:40rem;
}
.card{
    background: rgba(255, 255, 255, 0.5);
}

h1{
    font-size:5rem;
}

input.form-control{
    background:rgba(181, 203, 228, 0.5);
    font-size: 2rem;
    color: black;
}
   